name: Release

permissions:
  contents: write
  packages: write

on:
  push:
    tags:
      - "v*.*.*"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  BIN_NAME: necko3

jobs:
  build-binaries:
    name: Build Binaries
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-gnu
            name: necko3-linux-x86_64
            docker_arch: amd64

          - target: aarch64-unknown-linux-gnu
            name: necko3-linux-aarch64
            docker_arch: arm64

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - name: Install Cross
        uses: taiki-e/install-action@cross

      - name: Build Binary
        run: cross build --release --locked --target ${{ matrix.target }}

      - name: Rename Binary for Release
        run: cp target/${{ matrix.target }}/release/${{ env.BIN_NAME }} ${{ matrix.name }}

      - name: Rename Binary for Docker
        run: cp target/${{ matrix.target }}/release/${{ env.BIN_NAME }} necko3-${{ matrix.docker_arch }}

      - name: Upload Binary to Release
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ matrix.name }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload Artifact for Docker
        uses: actions/upload-artifact@v6
        with:
          name: binary-${{ matrix.docker_arch }}
          path: necko3-${{ matrix.docker_arch }}
          retention-days: 1

  build-docker:
    name: Build & Push Docker
    runs-on: ubuntu-latest
    needs: build-binaries
    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: binary-*
          path: artifacts
          merge-multiple: true

      - name: List artifacts
        run: ls -R artifacts

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=semver,pattern={{version}}
            type=raw,value=latest

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
